* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

table {
  margin: 5% auto;
  border-collapse: collapse;
  width: 80%;
}

td,
th {
  border: 1px solid #888;
  padding: 10px;
}

td:last-child {
  text-align: right;
}

tbody tr:nth-child(odd) {
  background: rgb(206, 206, 206);
}
