table {
  margin: 10% auto;
  border: 1px solid lightgray;
  width: 95%;
  /* padding: 5px; */
  border-collapse: collapse;
}

th,
tr,
td {
  border: 1px solid lightgray;
  padding: 6px;
}

.items:nth-of-type(even) {
  background-color: lightgray;
}

.num {
  text-align: right;
}

 /* test */
