*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

table{
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

tr:nth-of-type(odd) td{
    background-color: #ccc;
}

tr:last-child{
    font-weight: bold;
}

td, th{
    padding: 8px;
    border-style: inset;
    border: 1px solid #ccc;
}

td:last-child{
    text-align: right;
}