* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin: 20% auto;
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
}

td,th {
    padding: 5px;
    border: 2px solid rgb(184, 195, 216);
}

tr:nth-of-type(even) {
    background-color: rgb(184, 195, 216);
}



td:nth-child(3) {
    text-align: right;
}